<div style="text-align: center;">
<h1>タブを閉じて再度お試しください。</h1>
<hr>
<h2>ログインの方法</h2>
<p>※画像は開発中のバージョンです。現行のバージョンとはデザインが異なる場合がございます。</p>
<div style="margin: 30px;padding: 10px; border-radius:5px;box-shadow: 0px 1px 1px 1px #e5e5e5;">
    <h3>1.ログインを始める</h3>
    <p>アプリケーションをインストール後、ログインボタンをタップしてログインします。</p>
<img style="width: 300px" src="./assets/scr0.png">
</div>
<div style="margin: 30px;padding: 10px; border-radius:5px;box-shadow: 0px 1px 1px 1px #e5e5e5;">
    <h3>2.ログインを始める</h3>
    <p>"連携アプリを認証"をタップしてSpilaを認証します。</p>
<img style="width: 300px" src="./assets/scr1.jpg">
</div>
<div style="margin: 30px;padding: 10px; border-radius:5px;box-shadow: 0px 1px 1px 1px #e5e5e5;">
    <h3>3.アプリで開く</h3>
    <p>"アプリで開く"をタップします。</p>
<img style="width: 300px" src="./assets/scr3.png">
</div>
<div style="margin: 30px;padding: 10px; border-radius:5px;box-shadow: 0px 1px 1px 1px #e5e5e5;">
    <h3>4."1回のみ"をタップします。</h3>
    <p>Spilaアプリが起動し、ログインが完了します。</p>
<img style="width: 300px" src="./assets/scr2.png">
</div>
