<style>
.int{
    color: #606060;
}
</style>
<h1 style="text-align: center">使い方</h1>
<div style="margin: 30px;padding: 10px; border-radius:5px;box-shadow: 0px 1px 1px 1px #e5e5e5;">
<div style="color: #505050;">
<mat-accordion>
    <mat-expansion-panel style="text-align:center;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Spilaを始めよう！
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h1 style="color:lightskyblue;">1 利用規約に同意する</h1>
<img src="../assets/spmovemock/smartmockups_k6pz6jep.png" width="200">
<p class="int">利用規約を確認し、[利用規約に同意する]にチェックを入れて[ログインして始める]をタップします。</p>
<h1 style="color:lightsalmon;">2 アカウントへのアクセスを許可する</h1>
<img src="../assets/spmovemock/smartmockups_k6pz86mj.png" width="200">
<p class="int">SpilaはTwitterのDMを自動で確認し、ブロックと通報を行うため、アカウントへのアクセス権限が必要になります。
    Spilaを使用する場合は、[連携アプリを認証]をタップしてください。
</p>
<h1 style="color:lightpink;">3 アプリで開く</h1>
<img src="../assets/spmovemock/smartmockups_k6pz8xl3.png" width="200">
<p class="int">[アプリで開く]ボタンをタップして、Spilaアプリで開きます。</p>
<h1 style="color:lightgreen;">4 ログイン&登録完了！</h1>
<img src="../assets/spmovemock/smartmockups_k6pza2td.png" width="200">
<p class="int">ログインが完了しました！</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Spilaの使用方法について
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Spilaの設定
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
  </mat-accordion>
  </div>